/* ===== GENERAL ===== */

* {margin: 0; padding: 0;  box-sizing: border-box;}

body { font-family: 'Aldrich', sans-serif; background: #121212; color: white; overflow-x: hidden; }



/* ===== NAVBAR ===== */

nav { position: fixed; top: 0; left: 0; width: 100%; background: rgba(41,105,149,0.95); 
display: flex; justify-content: flex-end; padding: 1rem 5%; z-index: 1000; backdrop-filter: blur(8px); }

nav ul { display: flex; gap: 25px; list-style: none; }

nav ul li a { color: white; text-decoration: none; font-size: 18px; padding: 8px 14px; border-radius: 6px;
transition: 0.3s ease; letter-spacing: 2px; }

nav ul li a:hover { background-color: #1b2a43; }

nav ul li a.active { background-color: #2a5571; }