/* NAVBAR STYLING */

nav {
 position: fixed;
 top: 0; left: 0; right: 0; width: 100%;  
 background: #296995;  
 display: flex; z-index: 1000;
 justify-content: space-between; align-items: center;  
 padding: 1.2rem 5%; backdrop-filter: blur(8px);
}

nav ul {
 list-style: none;  
 margin: 0; padding: 0;  
 display: flex; gap: 20px;
}

nav ul li {display: inline;}

nav ul li a {color: white;  text-decoration: none;  font-size: 18px;  padding: 6px 10px;
border-radius: 6px;  transition: 0.3s ease;  font-family: 'Aldrich', sans-serif;  letter-spacing: 2px;}

nav ul li a:hover {background-color: #1b2a43;}

.active {background-color: #2a5571;}


/* Carousel */

.carousel {position: relative;  width: 1000px;  max-width: 90%;
margin: 60px auto;  border: 5px solid white;  border-radius: 8px;  overflow: hidden;  height: 500px;}

.carousel input {display: none; }

.slides {position: relative; width: 100%; height: 100%; }

.slide {position: absolute;  top: 0; left: 0;
width: 100%; height: 100%;  opacity: 0;  transition: opacity 0.6s ease;  z-index: 0;}

.slide img {  width: 100%; height: 100%;  object-fit: contain;  display: block;  background-color: black;}

#slide1:checked ~ .slides .s1,
#slide2:checked ~ .slides .s2,
#slide3:checked ~ .slides .s3,
#slide4:checked ~ .slides .s4 
{opacity: 1;  z-index: 1;}

#slide1:checked ~ .prev.slide1,
#slide1:checked ~ .next.slide1,
#slide2:checked ~ .prev.slide2,
#slide2:checked ~ .next.slide2,
#slide3:checked ~ .prev.slide3,
#slide3:checked ~ .next.slide3,
#slide4:checked ~ .prev.slide4,
#slide4:checked ~ .next.slide4 
{display: block;}

.carousel label.prev,
.carousel label.next 

{position: absolute;  top: 50%;  transform: translateY(-50%);  font-size: 50px;  color: white;
cursor: pointer;  padding: 6px;  background: rgba(0,0,0,0.4);  border-radius: 50%;  z-index: 10;}


.carousel label.prev { left: 10px; }
.carousel label.next { right: 10px; }

.carousel label.prev:hover,
.carousel label.next:hover { background: rgba(49, 39, 39, 0); }

.carousel label.prev, .carousel label.next { display: none; }